@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.mainApp{
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  width: 375px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
li{
  list-style: none;
}
.userInput{
  background-image: url('/images/pattern-bg-mobile.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 28px;
  gap: 8px;
  position: relative;
  height: 300px;
}
.title{
  color: white;
  font-weight: 500;
  font-size: 24px;
}
.inputForm{
  height: 40px;
  padding-left: 12px;
  background-color: white;
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.input,
.btn{
  border: none;
}
.input{
  outline: none;
  width: 82%;
}
.btn{
  background-color: black;
  height: 100%;
  width: 44px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.resultBar{
  position: absolute;
  width: 319px;
  height: 260px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  bottom: -130px;
  z-index: 99;
}
.resultDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.resultDetails h3{
  text-transform: uppercase;
  font-size: 10px;
  color: hsl(0, 0%, 59%);
  letter-spacing: 2px;
}
.resultDetails p{
  font-weight: 500;
  font-size: 15px;
}
.leaflet-container{
  height: 70%;
  width: 100%;
  z-index: 1;
}
.leaflet-control-zoom{
  display: none;
}
.btn img{
  width: 12px;
  height: 12px;
}
.isp{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media(min-width: 1024px){
  main{
    width: 1024px;
  }
  .userInput{
    background-image: url('/images/pattern-bg-desktop.png');
    height: 25%;
    gap: 12px;
  }
  .resultBar{
    flex-direction: row;
    width: 800px;
    height: 80px;
    bottom: -40px;
    justify-content: space-evenly;
    
  }
  .leaflet-container{
    height: 75%;
  }
  .inputForm{
    width: 50%;
    height: 52px;
  }
  .inputForm{
    height: 44px;
    border-radius: 20px;
    align-items: center;
  }
  .input{
    font-size: 20px;
    height: 85%;
  }
  .btn{
    width: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .btn img{
    width: 16px;
    height: 16px;
  }
  .acceptBtn{
    cursor: pointer;
  }
  .declineBtn{
    cursor: not-allowed;
  }
  .resultBar p{
    font-size: 14px;
  }
  .resultDetails{
    padding-right: 28px;
    border-right: 1px solid gray;
    width: 20%;
  }
}
@media(min-width:1440px){
  main{
    width: 1440px;
  }
  .resultBar{
    width: 1024px;
  }
  .inputForm{
    height: 60px;
  }
  .userInput{
    gap: 20px;
  }
  .resultBar{
    height: 120px;
    bottom: -60px;
  }
  .resultBar h3{
    font-size: 14px;
  }
  .resultBar p{
    font-size: 18px;
  }
}
